In [ ]:
What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?
it is database system in which data is stored in form of document either dict or Json 
non-relational database also called as NoSql which stands for Not Only Sql 
stores data in form on non-tabular method and its more flexible than relational database
in case of cost and open source for creating free databases it is preferred

In [ ]:
State and Explain the features of MongoDB.
Schema-less Database:A Schema-less database means one collection can hold different types of documents in it. 
and these documents may consist of the different numbers of fields and size.
Document Oriented: In MongoDB, all the data stored in the documents,
the data is stored in key-value pair instead of rows and columns.

In [ ]:
Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [ ]:
pip install pymongo

In [ ]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://sachinpjadi:<password>@cluster0.x4bhk0f.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [ ]:
db = client['pwskills']

In [ ]:
collection = db['name']

In [ ]:
data = {
    "name":"sachin",
    "class":"dsm",
    "timing":"flex"
}

In [ ]:
Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [ ]:
data1 = {
    "mail" :"sch@gmail.com",
    "phone": 98546855
}

In [ ]:
collection.insert_one(data)

In [ ]:
data3 = [
    { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [ ]:
collection.insert_many(data3)

In [ ]:
for i in collection.find():
    print(i)

In [ ]:
for i in collection.find_one():
    print(i)

In [ ]:
Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.
find() is used to find a particular record from the table and display it.
we can use in for loop or we cn call it directly
for i in collection.find():
    print(i)
    OR
db.collection.find()

In [ ]:
Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
sort() is used to arrange the complete order in either ascending to descending or 
larger to smaller or smaller to larger

In [ ]:
##example
db.collection.sort({filed_name:1 or -1})

In [ ]:
Explain why delete_one(), delete_many(), and drop() is used.
delete_one() is used to delete the first inserted record
delete_many() is used to delete multiple record from the database
drop() is used to delete the complete database at once or complete all the records at once