In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. 
Then, print the series.

In [6]:
import pandas as pd 
data = {'data' : [4,8,15,16,23,42]}
df = pd.DataFrame(data)
print(df.data)

0     4
1     8
2    15
3    16
4    23
5    42
Name: data, dtype: int64

In [ ]:
Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [17]:
import pandas as pd
data = [1,2,3,4,5,6,7,8,9,10]
df = pd.Series(data)
print(df)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [23]:
Q3. Create a Pandas DataFrame that contains the following data:
import pandas as pd 
data = {'Name' : ['Alice','Bob','Claire'],'Age' : [25,30,27],'gender':['female','male','female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

In [ ]:
What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
dataframe is 2-D labeled data structure in pandas, which is similar to a spreadsheet or a SQL table.
whereas pandas.series is a 1-D data structure which can hold any datatype
##example

In [24]:
import pandas as pd 
data = {'Name' : ['Alice','Bob','Claire'],'Age' : [25,30,27],'gender':['female','male','female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

In [25]:
import pandas as pd
data = [1,2,3,4,5,6,7,8,9,10]
df = pd.Series(data)
print(df)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
head()- to get first 5 record from the table
tail()- to get last 5 record from the table
describe()-it is used to get all the columns from the table which have a numeric value in it

In [ ]:
Which of the following is mutable in nature Series, DataFrame, Panel?
Dataframe and series are mutable in nature

In [ ]:
Create a DataFrame using multiple Series. Explain with an example.

In [27]:
import pandas as pd
name = pd.Series(['bob','charlie','alice'])
age = pd.Series([25,30,27])
gender = pd.Series(['male','male','female'])
data = {'Name' : name , 'Age':age,'Gender':gender}
df=pd.DataFrame(data)
print(df)

      Name  Age  Gender
0      bob   25    male
1  charlie   30    male
2    alice   27  female