In [ ]:
List any five functions of the pandas library with execution.

In [ ]:
read_csv,head,tail,columns and describe

In [ ]:
Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [ ]:
df['new_index'] = df['re-index'][1::2]

In [4]:
import pandas as pd 
values = [10, 20, 30, 40, 50]
df = pd.DataFrame(values)

In [10]:
df.cumsum()[0:3]

    0
0  10
1  30
2  60

In [ ]:
Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [ ]:
df['Word_Count'] = df['text'].apply(lambda(x: len(x.spilt())))

In [ ]:
How are DataFrame.size() and DataFrame.shape() different?
dataframe.shape returns no of rows and column whereas
dataframe.size returnstotal no of elements

In [ ]:
Which function of pandas do we use to read an excel file?
df.read_excel("Link for the excel")

In [ ]:
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [ ]:
df['username'] = df['Email'].apply(lambda x : x.split('@')[0])

In [ ]:
You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [1]:
import pandas as pd
data = { 'A' : [3,8,6,2,9],
         'B' : [5,2,9,3,1],
         'C' : [1,7,4,5,2]
       }
df = pd.DataFrame(data)

In [2]:
df[(df['A']>5) & (df['B']<10 )]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [ ]:
Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [11]:
import pandas as pd 
values = [10, 20, 30, 40, 50]
df = pd.DataFrame(values)

In [12]:
df[].mean()

0    30.0
dtype: float64

In [13]:
df.std()

0    15.811388
dtype: float64

In [14]:
df.median()

0    30.0
dtype: float64

In [ ]:
Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [ ]:
df['MovingAverage'] = df['sale'].rolling(window=7).mean()

In [ ]:
You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [ ]:
df['Date'] = df['Weekday'].dt.weekday()

In [ ]:
Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [15]:
data = pd.date_range(start='2023-01-01',end='2023-01-31')

In [16]:
data

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [ ]:
import pandas as pd