In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [ ]:
Write a code to print the data present in the second row of the dataframe, df.

In [6]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
What is the difference between the functions loc and iloc in pandas.DataFrame?
loc-it is label based selecting method, in this we have pass name of the row/column
iloc-it is index based selecting method, in this we have to pass index of the row /column

In [8]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [9]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.347393  0.985839  0.909947  0.763610  0.425293  0.718193
2  0.225444  0.414357  0.034926  0.505207  0.140495  0.968690
3  0.875756  0.318770  0.219619  0.431777  0.083052  0.869361
4  0.984009  0.659072  0.609737  0.466733  0.632683  0.222947
5  0.519841  0.443572  0.345121  0.324895  0.953467  0.729563
6  0.383285  0.124755  0.474151  0.280694  0.651418  0.090803

In [ ]:
Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [18]:
df1['new_df'] = df1.reindex = [3,0,1,2,4,5]

In [19]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6  new_df
1  0.347393  0.985839  0.909947  0.763610  0.425293  0.718193       3
2  0.225444  0.414357  0.034926  0.505207  0.140495  0.968690       0
3  0.875756  0.318770  0.219619  0.431777  0.083052  0.869361       1
4  0.984009  0.659072  0.609737  0.466733  0.632683  0.222947       2
5  0.519841  0.443572  0.345121  0.324895  0.953467  0.729563       4
6  0.383285  0.124755  0.474151  0.280694  0.651418  0.090803       5

In [21]:
df1.new_df.loc[2]

0

In [17]:
df1.new_df.iloc[2]

1

In [ ]:
Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [25]:
df1.mean()

column_1    0.555954
column_2    0.491061
column_3    0.432250
column_4    0.462153
column_5    0.481068
column_6    0.599926
new_df      2.500000
dtype: float64

In [28]:
df1[['column_1','column_2']].std()

column_1    0.306385
column_2    0.298341
dtype: float64

In [ ]:
Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

In [29]:
df1.loc[2, 'column_2'] = 'new_string'

In [30]:
df1

   column_1    column_2  column_3  column_4  column_5  column_6  new_df
1  0.347393    0.985839  0.909947  0.763610  0.425293  0.718193       3
2  0.225444  new_string  0.034926  0.505207  0.140495  0.968690       0
3  0.875756     0.31877  0.219619  0.431777  0.083052  0.869361       1
4  0.984009    0.659072  0.609737  0.466733  0.632683  0.222947       2
5  0.519841    0.443572  0.345121  0.324895  0.953467  0.729563       4
6  0.383285    0.124755  0.474151  0.280694  0.651418  0.090803       5

In [33]:
df1[['column_1','column_2']].mean()

/tmp/ipykernel_77/1348708147.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1[['column_1','column_2']].mean()

column_1    0.555954
dtype: float64

In [ ]:
What do you understand about the windows function in pandas and list the types of windows
functions?
windows function in pandas is used for performing some opertion like sum,mean etc
Rolling window function
expanding windiw fuction

In [ ]:
Write a code to print only the current month and year at the time of answering this question.

In [34]:
import datetime
now = datetime.datetime.now()
current_month = now.month
current_year = now.year

In [35]:
current_month

3

In [36]:
current_year

2023

In [ ]:
Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [41]:
import pandas as pd

d1=input("enter the 1st date")
d2=input("enter the 2nd date")
date1 = pd.to_datetime(d1)
date2 = pd.to_datetime(d2)
diff_date=date2-date1
print(diff_date)

enter the 1st date 1998-06-12
enter the 2nd date 1999-12-12

548 days 00:00:00

In [ ]:
Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd
file=input("enter the file path")
column=input("enter the column name ")
category_order=input("enter the category order")
df=pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
df[col_name] = pd.Categorical(df[column])
df = df.sort_values(column)

In [ ]:
Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [11]:
import pandas as pd
data={'student_id':[1,2,3,4,5,6,7,8,9,10],'test_scores':[85,90,80,75,85,82,78,85,90,85]}
df=pd.DataFrame(data)

In [12]:
df

   student_id  test_scores
0           1           85
1           2           90
2           3           80
3           4           75
4           5           85
5           6           82
6           7           78
7           8           85
8           9           90
9          10           85

In [6]:
df['Mean']=df.test_scores.mean()

In [7]:
df

   student_id  test_scores  Mean
0           1           85  83.5
1           2           90  83.5
2           3           80  83.5
3           4           75  83.5
4           5           85  83.5
5           6           82  83.5
6           7           78  83.5
7           8           85  83.5
8           9           90  83.5
9          10           85  83.5

In [ ]:
##File_path
file_path = input("Enter the file path of the CSV file containing the student data: ")

In [ ]:
##Read_csv
df=pd.read_csv("File_path")

In [15]:
mean_score=df.test_scores.mean()
median_score=df.test_scores.median()
mode_score=df.test_scores.median()
df['statistic']=df['test_scores']
result=pd.DataFrame({
    'statistic':['Mean','Median','Mode'],
    'Test_Scores':[mean_score,median_score,mode_score]
})

In [16]:
result

  statistic  Test_Scores
0      Mean         83.5
1    Median         85.0
2      Mode         85.0