In [19]:
'''Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]'''
l1=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
lambda x: x if x>l1[x] else l1[x],l1

(<function __main__.<lambda>(x)>,
 [('Sachin Tendulkar', 34357),
  ('Ricky Ponting', 27483),
  ('Jack Kallis', 25534),
  ('Virat Kohli', 24936)])

In [2]:
'''Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]'''
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sq=list(map(lambda x : x**2,l1))

In [3]:
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
'''Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')'''
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
con=tuple(map(lambda x : str(x),l1))

In [6]:
con

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [11]:
from functools import reduce

In [15]:
'''Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.'''
n=[]
for i in range(1,26):
    n.append(i)
    reduce(lambda x,y : x*y,n)

In [16]:
n

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [17]:
'''Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]'''
l1=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x : x%2==0 and x%3==0,l1))

[6, 60, 90, 120]

In [18]:
'''Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']'''
l1=['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x : x == x[::-1],l1))

['php', 'aba', 'radar', 'level']