In [ ]:
Q1: What are missing values in a dataset? Why is it essential to handle missing values? Name some
algorithms that are not affected by missing values.
missing value occurs in a dataset when some information is not stored in a varible.
in order to manage data it is essential to handle missing data

In [ ]:
Q2: List down techniques used to handle missing data. Give an example of each with python code.
mean imputation
median imputation
mode imputation

In [19]:
import seaborn as sns
df=sns.load_dataset('titanic')
null_values=df.isnull().sum()
df['age_mean']=df['age'].fillna(df['age']).mean()
df[['age_mean','age']]

      age_mean   age
0    29.699118  22.0
1    29.699118  38.0
2    29.699118  26.0
3    29.699118  35.0
4    29.699118  35.0
..         ...   ...
886  29.699118  27.0
887  29.699118  19.0
888  29.699118   NaN
889  29.699118  26.0
890  29.699118  32.0

[891 rows x 2 columns]

In [ ]:
Q3: Explain the imbalanced data. What will happen if imbalanced data is not handled?
A classification data set with skewed class proportions is called imbalanced.
imbalanced data can lead to inaccurate results

In [ ]:
Q4: What are Up-sampling and Down-sampling? Explain with an example when up-sampling and down-
sampling are required.
process of inserting zero-valued samples between original samples to increase the sampling rate
process of removing zero-valued samples between original samples to increase the sampling rate
example:
suppose we have a dataset, and in that datset we have records of 1 and 0 and the count of it is (900,100).
in order to maintain the imbalanced data we have to make it equal so making it 
(900,900)-upsampling
and making it (100,100)-down-sampling

In [ ]:
Q5: What is data Augmentation? Explain SMOTE.
it is a technique used in machine learning used to reduce to overfitting when training a model
SMOTE is a technique used in machine learning to address imbalanced daatset where te miniority classes has significantly 
fewer instance than the majority classes.

In [ ]:
Q6: What are outliers in a dataset? Why is it essential to handle outliers?
An outlier is an observation that lies an abnormal distance from other values in a random sample from a population.
it is important to handle outliers because it has huge number difference with the others in dataset which may cause 
to inaccurate results

In [ ]:
Q7: You are working on a project that requires analyzing customer data. However, you notice that some of
the data is missing. What are some techniques you can use to handle the missing data in your analysis?
we can use mean imputation

In [ ]:
Q8: You are working with a large dataset and find that a small percentage of the data is missing. What are
some strategies you can use to determine if the missing data is missing at random or if there is a pattern
to the missing data?
we can use medain imputation

In [ ]:
Q9: Suppose you are working on a medical diagnosis project and find that the majority of patients in the
dataset do not have the condition of interest, while a small percentage do. What are some strategies you
can use to evaluate the performance of your machine learning model on this imbalanced dataset?
we can upsampling imbalanced dataset to perform it and make majority of patients in interset

In [ ]:
Q10: When attempting to estimate customer satisfaction for a project, you discover that the dataset is
unbalanced, with the bulk of customers reporting being satisfied. What methods can you employ to
balance the dataset and down-sample the majority class?
we can use SMOTE,random sampling methods to slove it

In [ ]:
Q11: You discover that the dataset is unbalanced with a low percentage of occurrences while working on a
project that requires you to estimate the occurrence of a rare event. What methods can you employ to
balance the dataset and up-sample the minority class?
we can use SMOTE,random sampling methods to slove it